@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Flight Tracker</h1>
    <p>Serverless solution showing how flights can be tracked using Azure Cosmos DB, Functions and SignalR.</p>
    <p>Learn about it at the <a href="https://github.com/stuartleaver/flight-tracker-cosmosdb-functions-serverless" target="new">GitHub repository</a>.</p>
</div>
